.logo {
  font-size: 30px;
  text-decoration: none;
  font-weight: bold;
  margin-right: 272px;
}
.logoIcon {
  fill: white;
  stroke: white;
}
.products {
  text-decoration: none;
}
.aboutUs {
  text-decoration: none;
}
.wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
  background-color: var(--main-background-color);
  border-bottom: 1px solid var(--border-header-color);
  padding: 41px 31px 34px 100px;
}
