.logo {
  font-size: 30px;
  text-decoration: none;
  font-weight: bold;
  margin-right: 272px;
}
.logoIcon {
  fill: white;
  stroke: white;
}
.products {
  text-decoration: none;
}
/* .aboutUs {
  text-decoration: none;
} */
.navList {
  display: flex;
  align-items: center;
  gap: 37px;
  height: 38px;
}

.navItem {
  transition: color 0.3s;
}

.navItem:hover {
  color: var(--price-color);
}
.wrapper {
  display: flex;
  align-items: center;
  background-color: var(--main-background-color);
  border-bottom: 1px solid var(--border-header-color);
  padding: 41px 100px 34px 100px;
}
.iconsList {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-left: auto;
}
.headerIcon {
  fill: var(--icon-color);
  width: 28px;
  height: 28px;
  transition: fill 0.3s;
  cursor: pointer;
}
.headerIcon:hover {
  fill: var(--price-color);
  stroke: var(--price-color);
}
