.wrapper {
  min-width: 390px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--main-background-color);
  border-bottom: 1px solid var(--border-header-color);
  padding: 48px 24px 24px 24px;
}

/* @media only screen and (min-width: 744px) {
  .wrapper {
    min-width: 744px;
  }
} */
@media only screen and (min-width: 1440px) {
  .wrapper {
    padding: 41px 100px 34px 100px;
  }
}
.navigation {
  display: flex;
  gap: 24px;
  align-items: center;
}
@media only screen and (min-width: 744px) {
  .navigation {
    width: 55%;
    display: flex;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 1440px) {
  .navigation {
    width: 70%;
  }
}
.btnTheme {
  display: none;
}
@media only screen and (min-width: 1440px) {
  .btnTheme {
    display: block;
  }
}
.logo {
  color: var(--main-text-color);
  text-decoration: none;
  transition: color 0.3s;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media only screen and (min-width: 744px) {
  .logo {
    text-align: center;
  }
}
.logoIcon {
  fill: white;
  stroke: white;
}
.products {
  text-decoration: none;
}

.navList {
  display: none;
  align-items: center;
  gap: 37px;
}
@media only screen and (min-width: 1440px) {
  .navList {
    display: flex;
  }
}
.linkItem {
  color: var(--main-text-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: color 0.3s;
}

.logo:hover,
.linkItem:hover {
  color: #d0af12;
}

.iconsList {
  display: flex;
  align-items: center;
  gap: 24px;
}
.headerIcon {
  fill: var(--icon-color);
  width: 30px;
  height: 30px;
  transition: fill 0.3s;
  cursor: pointer;
}
.headerIcon:hover {
  fill: #d0af12;
  stroke: #d0af12;
}

@media only screen and (min-width: 1440px) {
  .burgerBtn {
    display: none;
  }
}
