.productList {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
  padding-top: 48px;
  min-height: 640px;
}
@media only screen and (min-width: 1440px) {
  .productList {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;
    padding-top: 80px;
    min-height: 640px;
  }
}
