* {
  margin: 0;
  padding: 0;
}

body {
  --main-background-color: #0f0f0f;
  --title-text-color: #fffdfd;
  --main-text-color: #fff;
  --price-color: #fb861a;
  --in-stock-color: #4fd12e;
  --footer-background-color: #242424;
  --toggle-bg-btn: #322f2f;
  --border-header-color: #b1b1b1;
  --purple-slider-btn-color: #cdbbfb;
}
body.light {
  --main-background-color: #fff;
  --title-text-color: #000;
  --main-text-color: #000;
  --price-color: #fb861a;
  --in-stock-color: #4fd12e;
  --footer-background-color: #ededed;
  --toggle-bg-btn: #f0f0f0;
  --border-header-color: #535353;
}

a {
  text-decoration: none;
  color: inherit;
}
main {
  padding-left: 100px;
  padding-right: 100px;
}

.container {
  background-color: var(--main-background-color);
  color: var(--main-text-color);
}

.swiper-pagination-bullet {
  background: none;
  background-color: #e9e9e9;
  opacity: 1;
  height: 21px;
  width: 21px;
  --swiper-pagination-bullet-horizontal-gap: 14px;
}
.swiper-pagination-bullet-active {
  background-color: var(--purple-slider-btn-color);
}
