.productItem {
  position: relative;
  width: 342px;
  background-color: var(--footer-background-color);
  border-radius: 24px;
  padding: 20px;
  transition: transform 0.6s;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.11) inset;
  margin: 0 auto;
}
@media only screen and (min-width: 744px) {
  .productItem {
    width: 312px;
  }
}
@media only screen and (min-width: 1440px) {
  .productItem {
    width: 292px;
    padding: 20px;
  }
}
.productItem:hover {
  transform: scale(1.1);
}
.phoneImg {
  display: block;

  margin: 0 auto 35px auto;
}
.productName {
  margin-bottom: 8px;
  text-align: center;

  color: var(--main-text-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.productColor {
  margin-bottom: 50px;
  text-align: center;

  color: var(--main-text-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.priceCart {
  display: flex;
  justify-content: space-between;
}
.productPrice {
  color: var(--price-color);
  /* background: linear-gradient(
    180deg,
    #ffd700 0%,
    #ffcc00 25%,
    #ffb300 50%,
    #ff9900 75%,
    #ffd700 100%
  ); */
  background: linear-gradient(to bottom left, #ffff66 0%, #663300 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.iconCart {
  width: 28px;
  height: 28px;
  transition: fill 0.3s;
}
.iconCart:hover {
  fill: #a38a17;
}
/* ----- overlay */

.buyProduct {
  display: block;
  font-size: 18px;
  font-weight: 700;

  /* width: calc(100% - 40px); */
  width: 100%;
  color: #717fff;
  color: var(--main-text-color);
  background: linear-gradient(to bottom left, #ffff66 0%, #663300 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 18px 30px;

  border-radius: 16px;
  border: 2px solid #a38a17;
}

.cardOverlay {
  margin-bottom: 15px;
}
/* .cardOverlay {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;

  bottom: 5px;
  width: 100%;
  opacity: 0;
  transition: transform 0.3s ease-in;
  transform: scale(0.8);
}

.productItem:hover .overlay,
.productItem:focus .overlay {
  opacity: 1;
  transform: scale(1);
} */
