.aboutUsWrapper {
  display: flex;
  gap: 30px;
}
.aboutUsTitle {
  color: var(--main-text-color);
  background: linear-gradient(
    180deg,
    #ffd700 0%,
    #ffcc00 25%,
    #ffb300 50%,
    #ff9900 75%,
    #ffd700 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  margin-bottom: 70px;
}
.aboutUsTitle {
  color: var(--main-text-color);

  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 30px;
}
.AboutUsDesc {
  max-height: 400px;
  overflow: auto;
  transition: max-height 0.5s ease-in;
}
.videoList {
  display: flex;
  gap: 20px;
}
.videoItem {
  width: 350px;
  height: 550px;
  text-align: center;
  margin-bottom: 100px;
  transition: transform 0.3s;
}
.videoItem:hover {
  transform: scale(1.1);
}
.video {
  border-radius: 20%;
}
