.form {
  display: flex;
  align-items: center;
  position: relative;
}

.input {
  display: flex;
  width: 163px;
  height: 40px;
  padding: 16px;
  padding-left: 40px;
  align-items: center;
  gap: 8px;

  border: none;
  border-radius: 40px;
  background: var(--toggle-bg-btn);
  outline: none;
  color: var(--main-text-color);
  @media only screen and (min-width: 768px) {
    width: 248px;
    height: 48px;
  }
}

.input:focus {
  border-color: var(--price-color);
}
.searchIcon {
  fill: #aaa;
  position: absolute;
  top: 6;
  left: 16px;
  width: 15px;
  height: 15px;
}
