.swiperContainer {
  padding-bottom: 100px;
  padding-top: 24px;

  @media (min-width: 768px) {
    padding-bottom: 127px;
    padding-top: 40px;
  }
  @media (min-width: 1440px) {
    padding-bottom: 172px;
    padding-top: 50px;
  }
}

.swiperSlide {
  text-align: center;
  font-size: 18px;
  color: var(--main-text-color);

  display: flex;
  gap: 72px;
  flex-direction: column-reverse;

  @media (min-width: 768px) {
    justify-content: space-between;
    align-items: center;
  }
  @media (min-width: 1440px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 648px;
    height: 300px;
  }
}
